* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  max-width: 1500px;
  height: 600px;
//   background-image: url(images/background.png);
  background-color: #0A092C;
margin: 0 auto;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  ._container {
    margin: 0px auto;
    padding: 25px 0;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ._logo_container {
      margin-right: 50px;
      width: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      ._logo {
        font-family: "Inter";
        font-style: normal;
        font-weight: 800;
        font-size: 1.875rem;
        line-height: 58px;
        color: #f5f5f5;
        &:hover {
          cursor: pointer;
          font-size: 2rem;
        }
      }
    }
    ._navigation {
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.1875rem;
      letter-spacing: -0.02em;
      color: #f5f5f5;
      display: flex;
      align-items: center;
      ._items {
        margin: 0 0.625rem;
        &:hover {
          cursor: pointer;
          color: #ff9900;
        }
      }
      ._search_icon_block {
        margin-left: 150px;
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        ._search_icon {
          width: 80%;
          height: 80%;
          &:hover {
            cursor: pointer;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    ._burger_menu_block {
      display: none;
    }
  }
}
@media screen and (max-width: 1150px) {
  .header {
    ._container {
      width: 80%;
    }
  }
}
@media screen and (max-width: 900px) {
  .header {
    ._container {
      width: 90%;
    }
  }
}
@media screen and (max-width: 790px) {
  .header {
    ._container {
      padding: 0px 0;
      width: 90%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      ._logo_container {
        margin: 0;
      }
      ._navigation {
        ._search_icon_block {
          margin-left: 20px;
        }
      }
    }
  }
}
@media screen and (max-width: 450px) {
  .header {
    ._container {
      padding: 0px 0;
      width: 90%;
      flex-direction: row;
      justify-content: space-between;
      ._logo_container {
        width: 100px;
      }
      ._navigation {
        display: none;
      }
      ._burger_menu_block {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 25px;
        ._burger_menu {
          height: 90%;
          width: 90%;
          &:hover {
            cursor: pointer;
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
}
