* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  max-width: 1440px;
  height: 600px;
  background-image: url(images/background.jpg);
  margin: 0 auto;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  &_container {
    margin: 0px auto;
    padding: 25px 0;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_logo {
      margin-right: 50px;
      width: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      &_props {
        font-family: "Inter";
        font-style: normal;
        font-weight: 800;
        font-size: 1.875rem;
        line-height: 58px;
        color: #f5f5f5;
        transition: all 0.2s;
        &:hover {
          cursor: pointer;
          font-size: 2rem;
        }
      }
    }
    &_navigation {
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.1875rem;
      letter-spacing: -0.02em;
      color: #f5f5f5;
      display: flex;
      align-items: center;
      &_items {
        margin: 0 1rem;
        transition: all 0.2s;
        &:hover {
          cursor: pointer;
          color: #ff9900;
        }
      }
      &_search {
        margin-left: 150px;
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        ._search_icon {
          width: 80%;
          height: 80%;
          transition: all 0.2s;
          &:hover {
            cursor: pointer;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    &_burger {
      display: none;
    }
  }
  &_section {
    width: 60%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Inter";
    color: white;
    text-align: center;
    &_title {
      padding: 15px 0;
      font-style: normal;
      font-weight: 600;
      font-size: 3.375rem;
      line-height: 4.125rem;
      letter-spacing: -0.04em;
    }
    &_text {
      width: 40%;
      padding: 15px 0;
      font-style: normal;
      font-weight: 400;
      font-size: 1rem;
    }
    &_read_more {
      font-family: "Inter";
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 250px;
      min-height: 70px;
      border: 1px solid white;
      border-radius: 20px;
      margin-top: 25px;
      color: rgb(202, 202, 202);
      transition: all 0.3s;
      &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.3);
        color: white;
      }
      &_text {
        text-transform: uppercase;
        font-weight: 800;
        padding: 0 25px;
      }
      &_arrow {
        width: 25px;
        height: 25px;
      }
    }
  }
}

// MAIN

.main {
  margin: 0 auto;
  max-width: 1440px;
  // min-height: 900px;
  background-color: #0a092c;
  display: flex;
  flex-direction: column;
  align-items: center;
  &_section_1 {
    margin-top: 70px;
    font-family: "Inter";
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &_text {
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.1875rem;
      letter-spacing: -0.02em;
      color: #efc739;
      text-align: center;
      padding: 10px;
    }
    &_title {
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 2rem;
      letter-spacing: -0.04em;
      text-align: center;
      color: white;
    }
    &_blocks {
      margin-top: 50px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      &_background {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 150px;
        background-color: #0a1684;
        margin: 10px 10px;
        font-family: "Inter";
        transition: all 0.3s;
        &:hover {
          cursor: pointer;
          background-color: #0a1259;
        }
        &_item {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          width: 90%;
          height: 80%;
          &_icon {
            width: 30px;
            height: 30px;
          }
          &_title {
            font-family: "Inter";
            color: white;
            font-style: normal;
            font-weight: 600;
            font-size: 1rem;
            text-align: center;
          }
          &_text {
            font-family: "Inter";
            color: white;
            font-style: normal;
            font-weight: 400;
            font-size: 0.8rem;
            text-align: center;
            opacity: 0.8;
          }
        }
      }
    }
    &_lets_talk {
      font-family: "Inter";
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 250px;
      min-height: 70px;
      background-color: #efc739;
      border-radius: 20px;
      margin-top: 35px;
      color: black;
      align-self: center;
      transition: all 0.3s;
      &:hover {
        cursor: pointer;
        background-color: #cea307;
      }
      &_text {
        text-transform: uppercase;
        font-weight: 800;
        padding: 0 25px;
      }
      &_arrow {
        width: 25px;
        height: 25px;
      }
    }
  }
  &_section_2 {
    margin-top: 70px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & > .main_section_1_text {
      color: white;
    }
    &_block {
      margin-top: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      &_left {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 260px;
        &_image {
          width: 90%;
          height: 90%;
          transition: all 0.3s;
          &:hover {
            cursor: pointer;
            width: 100%;
            height: 100%;
            border-radius: 15px;
          }
        }
      }
      &_right {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        & > .main_section_1_blocks_background_item_text {
          text-align: start;
          padding: 10px 0;
          display: flex;
        }
      }
    }
  }
  &_section_3 {
    margin-top: 70px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .main_section_1_text {
      color: white;
    }
    &_block {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      .main_section_1_text {
        text-align: start;
        padding: 0;
        padding-bottom: 5px;
      }
      .main_section_1_blocks_background_item_text {
        text-align: start;
      }
      &_left {
        display: flex;
        flex-direction: column;
        width: 50%;
        &_text {
          margin: 10px 0;
          display: flex;
          align-items: center;
          justify-content: center;
          &_contain {
            display: flex;
            flex-direction: column;
          }
          &_number {
            margin: 0 20px;
            font-style: italic;
            color: #f2f2f2;
            font-family: "Inter";
            font-weight: bold;
            font-size: 3rem;
            text-shadow: 4px 2px 2px #8a899a;
          }
        }
      }
      &_right {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 300px;
        &_image {
          width: 90%;
          height: 90%;
          transition: all 0.3s;
          &:hover {
            cursor: pointer;
            width: 100%;
            height: 100%;
            border-radius: 15px;
          }
        }
      }
    }
  }
  &_section_4 {
    margin-top: 70px;
    margin-bottom: 70px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &_block {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      &_card {
        margin: 20px 0;
        width: 250px;
        height: 400px;
        background-color: #0a1259;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        margin-top: 50px;
        transition: all 0.3s;
        &:hover {
          cursor: pointer;
          background-color: #0a1684;
        }
        &_case {
          width: 90%;
          height: 90%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          &_list {
            .main_section_1_blocks_background_item_text {
              color: white;
            }
            &_item {
              list-style-type: none;
              display: flex;
              align-items: center;
              margin: 10px 0;
              &_icon {
                width: 20px;
                height: 20px;
                margin-right: 7px;
              }
            }
          }
        }
      }
    }
    .header_section_read_more {
      min-width: 180px;
      min-height: 50px;
    }
  }
}
.wrapper {
  margin: 0 auto;
  max-width: 1440px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_2 {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .main_section_1_text {
    color: #0a1684;
    font-weight: bold;
  }
  .main_section_1_title {
    color: black;
    font-weight: bold;
  }
  &_section_1 {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &_block {
      margin-top: 50px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      &_card {
        margin-top: 20px;
        max-width: 420px;
        min-height: 230px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        &_content {
          width: 90%;
          height: 90%;
          &_header {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &_profile {
              display: flex;
              align-items: center;
              &_photo {
                width: 55px;
                height: 55px;
              }
              &_data {
                margin-left: 15px;
                display: flex;
                flex-direction: column;
                &_name {
                  font-family: "Inter";
                  font-size: 1rem;
                  font-weight: bold;
                }
                &_work {
                  margin-top: 5px;
                  font-family: "Inter";
                  font-size: 0.8rem;
                  color: grey;
                }
              }
            }
            &_rating {
              width: 30%;
            }
          }
          &_review {
            margin-top: 25px;
            font-family: "Inter";
            font-weight: 500;
            font-size: 0.9rem;
          }
        }
      }
    }
    &_circles {
      margin-top: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      &_image {
        width: 20px;
        height: 20px;
        margin: 10px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  &_section_2 {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &_block {
      margin-top: 50px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      &_card {
        margin-top: 15px;
        max-width: 280px;
        min-height: 450px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        &_container {
          padding: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        &_image {
          width: 100%;
          height: 190px;
        }
        &_date {
          font-family: "Inter";
          font-size: .9rem;
          color: grey;
          margin: 10px 0;
        }
        &_header {
          font-family: "Inter";
          font-weight: bold;
          font-size: 1rem;
          color: #0019ff;
        }
        &_header_2 {
          margin: 10px 0;
          font-family: "Inter";
          font-weight: bold;
          font-size: 1rem;
          color: black
        }
        &_description {
          font-family: "Inter";
          font-weight: 400;
          color: grey;
          font-size: .8rem;
        }
      }
    }
    & .header_section_read_more {
      border-color: blue;
      color: blue;
      margin: 50px 0;
    }
  }
}
.wrapper_3 {
  max-width: 1440px;
  height: 400px;
  background-image: url(images/computer-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.last_section {
  width: 60%;
  background-color:#0a1259;
  &_container {
    padding:  50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

//FOOTER
.wrapper_4 {
  max-width: 1440px;
  min-height: 300px;
  background-color:#0a092c;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.footer {
  margin-top: 30px;
  width: 70%;
  display: flex;
  // align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  &_section_1 {
    display: flex;
    flex-direction: column;
    &>.header_container_logo {
      display: block;
    }
    &_form {
      margin-bottom: 15px;
      display: flex;
      position: relative;
      &_input {
        height: 40px;
        border-radius: 15px;
        border: none;
        margin-right: 40px;
        transition: all .3s;
        &:focus {
          z-index: 2;
          margin-right: 90px;
        }
      }
      &_button {
        position: absolute;
        right: 0px;
        height: 40px;
        border-radius: 15px;
        border: none;
        background-color:#0019ff;
        padding: 10px 20px;
        font-family: "Inter";
        font-weight: bold;
        color: white;
        transition: all .3s;
        &:hover {
          cursor: pointer;
          background-color: #0a1684;
        }
      }
    }
    &_text {
      font-family: "Inter";
      color: white;
      font-style: normal;
      font-size: .8rem;
      margin: 5px 0;
    }
    &_bottom {
      margin-top: 35px;
    }
  }
  &_section_2 {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    &_header {
      font-family: "Inter";
      color: white;
      font-size: .8rem;
    }
    &_list {
      margin-top: 30px;
      display: flex;
      &_container {
        margin-right: 30px;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        &_item {
          font-family: "Inter";
          color: white;
          font-size: .8rem;
          font-style: normal;
          margin-bottom: 10px;
          transition: all .3s;
          &:hover {
            cursor: pointer;
            color: #cea307;
          }
        }
      }
    }
  }
  &_section_3 {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    &_block {
      margin-top: 30px;
      display: flex;
      align-items: center;
      &:hover {
        cursor: pointer;
      }
      &_image {
        width: 40px;
        height: 40px;
        border-radius: 5px;
      }
      &_description {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        &_text {
          margin-top: 8px;
        font-family: "Inter";
        color: white;
        font-style: normal;
        font-size: .8rem;
        }
      }
    }
  }
}

// media
@media screen and (max-width: 1210px) {
  .main_2_section_1_block {
    margin-top: 0px;
    flex-direction: column;
    align-items: center;
  }
  .main_section_4_block_card {
    max-width: 100%;
  }
}
@media screen and (max-width: 1150px) {
  .header {
    &_container {
      width: 80%;
    }
  }
  .main_section_2 {
    margin-top: 20px;
  }
  .main_section_2_block {
    margin-top: 15px;
    flex-direction: column;
    &_right {
      width: 70%;
      justify-content: center;
      align-items: center;
      & > .main_section_1_blocks_background_item_text {
        text-align: center;
      }
    }
  }
  .main_section_3_block {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .main_section_3_block_left {
    width: 60%;
  }
  .main_section_3_block_right_image {
    width: 100%;
    margin: 50px;
  }
}
@media screen and (max-width: 900px) {
  .header {
    &_container {
      padding: 0px 0;
      width: 90%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &_logo {
        margin: 0;
      }
      &_navigation {
        &_search {
          margin-left: 20px;
        }
      }
    }
  }
  .main_2_section_2_block {
    flex-direction: column;
    align-items: center;
  }
  
  
}
@media screen and (max-width: 750px) {
  .main_section_4_block {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 690px) {
  .header_section {
    width: 90%;
    &_title {
      font-size: 2.375rem;
      line-height: 2.125rem;
    }
    &_text {
      width: 70%;
    }
  }
  .main {
    &_section_1 {
      margin-top: 10px;
      &_blocks {
        margin-top: 10px;
        flex-direction: column;
        align-items: center;
      }
      &_title {
        font-size: 1.5rem;
      }
      .lets_talk_button {
        margin-top: 10px;
      }
    }
  }
  .main_section_3_block_left_text {
    flex-direction: column;
  }
  .footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 530px) {
  .header {
    &_container {
      padding: 0px 0;
      width: 90%;
      flex-direction: row;
      justify-content: space-between;
      &_logo {
        width: 100px;
      }
      &_navigation {
        display: none;
      }
      &_burger {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 25px;
        ._burger_menu {
          height: 90%;
          width: 90%;
          &:hover {
            cursor: pointer;
            height: 100%;
            width: 100%;
          }
        }
      }
    }
    &_section {
      width: 90%;
      &_title {
        font-size: 2rem;
        line-height: 2.125rem;
      }
      &_text {
        width: 80%;
        padding: 15px 0;
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
      }
    }
  }
  .main_section_2_block_left {
    width: 250px;
    height: 150px;
  }
  .main_section_3_block_right {
    width: 250px;
    height: 150px;
  }
  .last_section_container {
    & > .main_section_1_lets_talk {
      min-width: 170px;
    }
  }
}
