* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  max-width: 1440px;
  height: 600px;
  background-color: #0a092c;
  background-image: url(images/background.png);
  margin: 0 auto;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  ._header_container {
    margin: 0px auto;
    padding: 25px 0;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ._logo_container {
      margin-right: 50px;
      width: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      ._logo {
        font-family: "Inter";
        font-style: normal;
        font-weight: 800;
        font-size: 1.875rem;
        line-height: 58px;
        color: #f5f5f5;
        transition: all 0.2s;
        &:hover {
          cursor: pointer;
          font-size: 2rem;
        }
      }
    }
    ._navigation {
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.1875rem;
      letter-spacing: -0.02em;
      color: #f5f5f5;
      display: flex;
      align-items: center;
      ._items {
        margin: 0 1rem;
        transition: all 0.2s;
        &:hover {
          cursor: pointer;
          color: #ff9900;
        }
      }
      ._search_icon_block {
        margin-left: 150px;
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        ._search_icon {
          width: 80%;
          height: 80%;
          transition: all 0.2s;
          &:hover {
            cursor: pointer;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    ._burger_menu_block {
      display: none;
    }
  }
}
.header_section {
  width: 60%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Inter";
  color: white;
  text-align: center;
  .header_section_title {
    padding: 15px 0;
    font-style: normal;
    font-weight: 600;
    font-size: 3.375rem;
    line-height: 4.125rem;
    letter-spacing: -0.04em;
  }
  .header_section_text {
    width: 40%;
    padding: 15px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
  }
  .read_more_button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 250px;
    min-height: 70px;
    border: 1px solid white;
    border-radius: 20px;
    margin-top: 25px;
    color: rgb(202, 202, 202);
    transition: all 0.3s;
    &:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.3);
      color: white;
    }
    .read_more_text {
      text-transform: uppercase;
      font-weight: 800;
      padding: 0 25px;
    }
    .right_arrow {
      width: 25px;
      height: 25px;
    }
  }
}

// MAIN

.main {
  margin: 0 auto;
  max-width: 1440px;
  min-height: 800px;
  background-color: #0a092c;
  display: flex;
  flex-direction: column;
  align-items: center;
  .main_section_1 {
    margin-top: 70px;
    font-family: "Inter";
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .section_1_text {
      font-style: normal;
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.1875rem;
      letter-spacing: -0.02em;
      color: #efc739;
      text-align: center;
      padding: 10px;
    }
    .section_1_title {
      font-style: normal;
      font-weight: 600;
      font-size: 2rem;
      letter-spacing: -0.04em;
      text-align: center;
      color: white;
    }
    .section_1_blocks {
      margin-top: 50px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .block_items_background {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 150px;
        background-color: #0a1684;
        margin: 10px 10px;
        color: white;
        font-family: "Inter";
        transition: all 0.3s;
        &:hover {
          cursor: pointer;
          background-color: #0a1259;
          color: #efc739;
        }
        .block_item {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          width: 90%;
          height: 80%;
          .block_item_icon {
            width: 30px;
            height: 30px;
          }
          .block_item_title {
            font-style: normal;
            font-weight: 600;
            font-size: 1rem;
            text-align: center;
          }
          .block_item_text {
            font-style: normal;
            font-weight: 400;
            font-size: 0.8rem;
            text-align: center;
          }
        }
      }
    }
    .lets_talk_button {
      font-family: "Inter";
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 250px;
      min-height: 70px;
      background-color: #efc739;
      border-radius: 20px;
      margin-top: 35px;
      color: black;
      align-self: center;
      transition: all 0.3s;
      &:hover {
        cursor: pointer;
        background-color: #cea307;
      }
      .lets_talk_text {
        text-transform: uppercase;
        font-weight: 800;
        padding: 0 25px;
      }
      .right_arrow_black {
        width: 25px;
        height: 25px;
      }
    }
  }
}

// media

@media screen and (max-width: 1150px) {
  .header {
    ._header_container {
      width: 80%;
    }
  }
}
@media screen and (max-width: 900px) {
  .header {
    ._header_container {
      padding: 0px 0;
      width: 90%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      ._logo_container {
        margin: 0;
      }
      ._navigation {
        ._search_icon_block {
          margin-left: 20px;
        }
      }
    }
  }
}
// @media screen and (max-width: 790px) {
//   .header {
//     ._header_container {
//       padding: 0px 0;
//       width: 90%;
//       flex-direction: column;
//       justify-content: center;
//       align-items: center;
//       ._logo_container {
//         margin: 0;
//       }
//       ._navigation {
//         ._search_icon_block {
//           margin-left: 20px;
//         }
//       }
//     }
//   }
// }
@media screen and (max-width: 690px) {
  .header_section {
    width: 90%;
    .header_section_title {
      font-size: 2.375rem;
      line-height: 2.125rem;
    }
    .header_section_text {
      width: 70%;
    }
  }
  .main {
    .main_section_1 {
      margin-top: 10px;
      .section_1_blocks {
        margin-top: 10px;
        flex-direction: column;
        align-items: center;
      }
      .section_1_title {
        font-size: 1.5rem;
      }
      .lets_talk_button {
        margin-top: 10px;
      }
    }
  }
}
@media screen and (max-width: 530px) {
  .header {
    ._header_container {
      padding: 0px 0;
      width: 90%;
      flex-direction: row;
      justify-content: space-between;
      ._logo_container {
        width: 100px;
      }
      ._navigation {
        display: none;
      }
      ._burger_menu_block {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 25px;
        ._burger_menu {
          height: 90%;
          width: 90%;
          &:hover {
            cursor: pointer;
            height: 100%;
            width: 100%;
          }
        }
      }
    }
    .header_section {
      width: 90%;
      .header_section_title {
        font-size: 2rem;
        line-height: 2.125rem;
      }
      .header_section_text {
        width: 80%;
        padding: 15px 0;
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
      }
    }
  }
}
