* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  max-width: 1440px;
  height: 600px;
  background-color: #0a092c;
  background-image: url(images/background.png);
  margin: 0 auto;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header ._header_container {
  margin: 0px auto;
  padding: 25px 0;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header ._header_container ._logo_container {
  margin-right: 50px;
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header ._header_container ._logo_container ._logo {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 1.875rem;
  line-height: 58px;
  color: #f5f5f5;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header ._header_container ._logo_container ._logo:hover {
  cursor: pointer;
  font-size: 2rem;
}

.header ._header_container ._navigation {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.1875rem;
  letter-spacing: -0.02em;
  color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header ._header_container ._navigation ._items {
  margin: 0 1rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header ._header_container ._navigation ._items:hover {
  cursor: pointer;
  color: #ff9900;
}

.header ._header_container ._navigation ._search_icon_block {
  margin-left: 150px;
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header ._header_container ._navigation ._search_icon_block ._search_icon {
  width: 80%;
  height: 80%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header ._header_container ._navigation ._search_icon_block ._search_icon:hover {
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.header ._header_container ._burger_menu_block {
  display: none;
}

.header_section {
  width: 60%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Inter";
  color: white;
  text-align: center;
}

.header_section .header_section_title {
  padding: 15px 0;
  font-style: normal;
  font-weight: 600;
  font-size: 3.375rem;
  line-height: 4.125rem;
  letter-spacing: -0.04em;
}

.header_section .header_section_text {
  width: 40%;
  padding: 15px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
}

.header_section .read_more_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 250px;
  min-height: 70px;
  border: 1px solid white;
  border-radius: 20px;
  margin-top: 25px;
  color: #cacaca;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header_section .read_more_button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

.header_section .read_more_button .read_more_text {
  text-transform: uppercase;
  font-weight: 800;
  padding: 0 25px;
}

.header_section .read_more_button .right_arrow {
  width: 25px;
  height: 25px;
}

.main {
  margin: 0 auto;
  max-width: 1440px;
  min-height: 800px;
  background-color: #0a092c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .main_section_1 {
  margin-top: 70px;
  font-family: "Inter";
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .main_section_1 .section_1_text {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.1875rem;
  letter-spacing: -0.02em;
  color: #efc739;
  text-align: center;
  padding: 10px;
}

.main .main_section_1 .section_1_title {
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: -0.04em;
  text-align: center;
  color: white;
}

.main .main_section_1 .section_1_blocks {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .main_section_1 .section_1_blocks .block_items_background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 150px;
  background-color: #0a1684;
  margin: 10px 10px;
  color: white;
  font-family: "Inter";
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main .main_section_1 .section_1_blocks .block_items_background:hover {
  cursor: pointer;
  background-color: #0a1259;
  color: #efc739;
}

.main .main_section_1 .section_1_blocks .block_items_background .block_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  height: 80%;
}

.main .main_section_1 .section_1_blocks .block_items_background .block_item .block_item_icon {
  width: 30px;
  height: 30px;
}

.main .main_section_1 .section_1_blocks .block_items_background .block_item .block_item_title {
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
}

.main .main_section_1 .section_1_blocks .block_items_background .block_item .block_item_text {
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  text-align: center;
}

.main .main_section_1 .lets_talk_button {
  font-family: "Inter";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 250px;
  min-height: 70px;
  background-color: #efc739;
  border-radius: 20px;
  margin-top: 35px;
  color: black;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main .main_section_1 .lets_talk_button:hover {
  cursor: pointer;
  background-color: #cea307;
}

.main .main_section_1 .lets_talk_button .lets_talk_text {
  text-transform: uppercase;
  font-weight: 800;
  padding: 0 25px;
}

.main .main_section_1 .lets_talk_button .right_arrow_black {
  width: 25px;
  height: 25px;
}

@media screen and (max-width: 1150px) {
  .header ._header_container {
    width: 80%;
  }
}

@media screen and (max-width: 900px) {
  .header ._header_container {
    width: 90%;
  }
}

@media screen and (max-width: 790px) {
  .header ._header_container {
    padding: 0px 0;
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header ._header_container ._logo_container {
    margin: 0;
  }
  .header ._header_container ._navigation ._search_icon_block {
    margin-left: 20px;
  }
}

@media screen and (max-width: 690px) {
  .header_section {
    width: 90%;
  }
  .header_section .header_section_title {
    font-size: 2.375rem;
    line-height: 2.125rem;
  }
  .header_section .header_section_text {
    width: 70%;
  }
  .main .main_section_1 {
    margin-top: 10px;
  }
  .main .main_section_1 .section_1_blocks {
    margin-top: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .main_section_1 .section_1_title {
    font-size: 1.5rem;
  }
  .main .main_section_1 .lets_talk_button {
    margin-top: 10px;
  }
}

@media screen and (max-width: 530px) {
  .header ._header_container {
    padding: 0px 0;
    width: 90%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header ._header_container ._logo_container {
    width: 100px;
  }
  .header ._header_container ._navigation {
    display: none;
  }
  .header ._header_container ._burger_menu_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 30px;
    height: 25px;
  }
  .header ._header_container ._burger_menu_block ._burger_menu {
    height: 90%;
    width: 90%;
  }
  .header ._header_container ._burger_menu_block ._burger_menu:hover {
    cursor: pointer;
    height: 100%;
    width: 100%;
  }
  .header .header_section {
    width: 90%;
  }
  .header .header_section .header_section_title {
    font-size: 2rem;
    line-height: 2.125rem;
  }
  .header .header_section .header_section_text {
    width: 80%;
    padding: 15px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */