* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  max-width: 1440px;
  height: 600px;
  background-color: #0a092c;
  background-image: url(images/background.jpg);
  margin: 0 auto;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  &_container {
    margin: 0px auto;
    padding: 25px 0;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_logo {
      margin-right: 50px;
      width: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      &_props {
        font-family: "Inter";
        font-style: normal;
        font-weight: 800;
        font-size: 1.875rem;
        line-height: 58px;
        color: #f5f5f5;
        transition: all 0.2s;
        &:hover {
          cursor: pointer;
          font-size: 2rem;
        }
      }
    }
    &_navigation {
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.1875rem;
      letter-spacing: -0.02em;
      color: #f5f5f5;
      display: flex;
      align-items: center;
      &_items {
        margin: 0 1rem;
        transition: all 0.2s;
        &:hover {
          cursor: pointer;
          color: #ff9900;
        }
      }
      &_search {
        margin-left: 150px;
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        ._search_icon {
          width: 80%;
          height: 80%;
          transition: all 0.2s;
          &:hover {
            cursor: pointer;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    &_burger {
      display: none;
    }
  }
  &_section {
    width: 60%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Inter";
    color: white;
    text-align: center;
    &_title {
      padding: 15px 0;
      font-style: normal;
      font-weight: 600;
      font-size: 3.375rem;
      line-height: 4.125rem;
      letter-spacing: -0.04em;
    }
    &_text {
      width: 40%;
      padding: 15px 0;
      font-style: normal;
      font-weight: 400;
      font-size: 1rem;
    }
    &_read_more {
      font-family: "Inter";
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 250px;
      min-height: 70px;
      border: 1px solid white;
      border-radius: 20px;
      margin-top: 25px;
      color: rgb(202, 202, 202);
      transition: all 0.3s;
      &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.3);
        color: white;
      }
      &_text {
        text-transform: uppercase;
        font-weight: 800;
        padding: 0 25px;
      }
      &_arrow {
        width: 25px;
        height: 25px;
      }
    }
  }
}

// MAIN

.main {
  margin: 0 auto;
  max-width: 1440px;
  min-height: 900px;
  background-color: #0a092c;
  display: flex;
  flex-direction: column;
  align-items: center;
  &_section_1 {
    margin-top: 70px;
    font-family: "Inter";
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &_text {
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.1875rem;
      letter-spacing: -0.02em;
      color: #efc739;
      text-align: center;
      padding: 10px;
    }
    &_title {
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 2rem;
      letter-spacing: -0.04em;
      text-align: center;
      color: white;
    }
    &_blocks {
      margin-top: 50px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      &_background {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 150px;
        background-color: #0a1684;
        margin: 10px 10px;
        font-family: "Inter";
        transition: all 0.3s;
        &:hover {
          cursor: pointer;
          background-color: #0a1259;
        }
        &_item {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          width: 90%;
          height: 80%;
          &_icon {
            width: 30px;
            height: 30px;
          }
          &_title {
            font-family: "Inter";
            color: white;
            font-style: normal;
            font-weight: 600;
            font-size: 1rem;
            text-align: center;
          }
          &_text {
            font-family: "Inter";
            color: white;
            font-style: normal;
            font-weight: 400;
            font-size: 0.8rem;
            text-align: center;
            opacity: 0.8;
          }
        }
      }
    }
    &_lets_talk {
      font-family: "Inter";
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 250px;
      min-height: 70px;
      background-color: #efc739;
      border-radius: 20px;
      margin-top: 35px;
      color: black;
      align-self: center;
      transition: all 0.3s;
      &:hover {
        cursor: pointer;
        background-color: #cea307;
      }
      &_text {
        text-transform: uppercase;
        font-weight: 800;
        padding: 0 25px;
      }
      &_arrow {
        width: 25px;
        height: 25px;
      }
    }
  }
  &_section_2 {
    margin-top: 70px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & > .main_section_1_text {
      color: white;
    }
    &_block {
      margin-top: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      &_left {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 260px;
        &_image {
          width: 90%;
          height: 90%;
          transition: all .3s;
          &:hover {
            cursor: pointer;
            width: 100%;
            height: 100%;
            border-radius: 15px;
          }
        }
      }
      &_right {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        & > .main_section_1_blocks_background_item_text {
          text-align: start;
          padding: 10px 0;
          display: flex;
        }
      }
    }
  }
  &_section_3 {
    margin-top: 70px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .main_section_1_text {
      color: white;
    }
    &_block {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      .main_section_1_text {
        text-align: start;
        padding: 0;
        padding-bottom: 5px;
      }
      .main_section_1_blocks_background_item_text {
        text-align: start;
      }
      &_left {
        display: flex;
        flex-direction: column;
        width: 50%;
        &_text {
          margin: 10px 0;
          display: flex;
          align-items: center;
          justify-content: center;
          &_contain {
            display: flex;
            flex-direction: column;
          } 
          &_number {
            margin: 0 20px;
            font-style: italic;
            color: #F2F2F2;
            font-family: "Inter";
            font-weight: bold;
            font-size: 3rem;
            text-shadow: 4px 2px 2px #8A899A; 
          }
        }
      }
      &_right {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 280px;
        &_image {
          width: 90%;
          height: 90%;
          transition: all .3s;
          &:hover {
            cursor: pointer;
            width: 100%;
            height: 100%;
            border-radius: 15px;
          }
        }
      }
    }
  }
}

// media

@media screen and (max-width: 1150px) {
  .header {
    &_container {
      width: 80%;
    }
  }
  .main_section_2 {
    margin-top: 20px;
  }
  .main_section_2_block {
    margin-top: 15px;
    flex-direction: column;
    &_right {
      width: 70%;
      justify-content: center;
      align-items: center;
      & > .main_section_1_blocks_background_item_text {
        text-align: center;
      }
    }
  }
  .main_section_3_block {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .main_section_3_block_left {
    width: 80%;
  }
  .main_section_3_block_right{
    min-width: 300px;
    max-width: 310px;
    max-height: 200px;
  }
  .main_section_3_block_right_image {
    min-width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .header {
    &_container {
      padding: 0px 0;
      width: 90%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &_logo {
        margin: 0;
      }
      &_navigation {
        &_search {
          margin-left: 20px;
        }
      }
    }
  }
}
@media screen and (max-width: 690px) {
  .header_section {
    width: 90%;
    &_title {
      font-size: 2.375rem;
      line-height: 2.125rem;
    }
    &_text {
      width: 70%;
    }
  }
  .main {
    &_section_1 {
      margin-top: 10px;
      &_blocks {
        margin-top: 10px;
        flex-direction: column;
        align-items: center;
      }
      &_title {
        font-size: 1.5rem;
      }
      .lets_talk_button {
        margin-top: 10px;
      }
    }
  }

  .main_section_3_block_left_text {
    flex-direction: column;
  }
}
@media screen and (max-width: 530px) {
  .header {
    &_container {
      padding: 0px 0;
      width: 90%;
      flex-direction: row;
      justify-content: space-between;
      &_logo {
        width: 100px;
      }
      &_navigation {
        display: none;
      }
      &_burger {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 25px;
        ._burger_menu {
          height: 90%;
          width: 90%;
          &:hover {
            cursor: pointer;
            height: 100%;
            width: 100%;
          }
        }
      }
    }
    &_section {
      width: 90%;
      &_title {
        font-size: 2rem;
        line-height: 2.125rem;
      }
      &_text {
        width: 80%;
        padding: 15px 0;
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
      }
    }
  }
  .main_section_2_block_left {
    width: 250px;
    height: 150px;
  }
}
